*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyc~
*.pyo~
*.pyd~
*.pyw~
*.pyz~
*.pywz~

*.pyc
*.pyc
Backend/__pycache__/database.cpython-313.pyc
Backend/__pycache__/models.cpython-313.pyc
.github/valiant-complex-452116-b3-8860dc267dea.json
